.outputContainer{
    height: 3em;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}

#equalto{
  background-color: lightblue;
}

.btn:hover{
    background-color: #ddd;
}

.digits{
  font-weight: bold;
}

.sign{
  font-size: 22px;
}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top:38px;
    width: 50%;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #func-menu{
    /* for function drop down menu */
    right: 0px;;
  }

  .dropdown-content div {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .show {display:block;}